
<table>
	<tr>
		<th>Correo Electrónico</th>
		<th>Mostrar</th>
	</tr>
	<tr>
		<% @users.each do |user| %>
			<td><%= user.email %></td>
			<td><%= link_to "Editar", user, class: "btn" %></td>
		<% end %>
	</tr>
</table>