<h1>Bienvenido al Portal de Partners de Intersel</h1>

<ul>
<% if user_signed_in? %>
	<li><%= link_to current_user.email, edit_user_registration_path %></li>
	<li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></li>
<% else %>
	<li><%= link_to "Iniciar Sesión", new_user_session_path %></li>
<% end %>
